@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body{
	font-family: 'Lato', sans-serif;
}	


.button {
    cursor: pointer;
}

.navbar-toggler {
    border:none;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(35,31,32, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.navbar-nav{
	margin-left: 30px;
	padding: 0;
}

.navbar-nav .nav-item{
	background-color: #ffd200;
	width: 0;
}
.navbar-nav .nav-item a{
	text-decoration: none;
	color: #deb804;
}
.navbar-nav .active a{
	font-weight: bold;
}

.navbar-nav .nav-item a:hover, .navbar-nav .nav-item a:focus{
	color: #b49506;
}

.navbar-brand {
	margin: 0;
	padding: 0;
    display: inline-block;
}

#logo {
    display: inline-block;
}

.phone{
    text-align: right;
}

.phone-num {
	padding: 5px 20px;
	background-color: #ffd200;
	border-radius: 8px;
    display: inline-block;
}

.phone-num p{
	margin: 0;
	border-bottom: 1px dotted #000;
	font-size: 16px;
	line-height: 18px;
}

.phone .phone-num {
    margin-right: 15px;
}
#xs-phone-num {
    display: none;
}

.main-banner {
	background: url("../img/main-banner.jpg");
	height: 547px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.main-banner-text {
	padding-top: 4%;
}

.main-banner-text h2{
	font-size: 50px;
	font-weight: 300;
	text-transform: uppercase;
	word-spacing: 10px;
	margin-bottom: 2%;
}

.section-header{
	font-size: 50px;
	font-weight: 300;
	text-transform: uppercase;
	word-spacing: 10px;
	margin-bottom: 2%;

}
.main-banner-text p{
	font-weight: bold;
	font-size: 24px;
}
.main-banner-text button{
	font-size: 26px;
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 8%;
	padding: 10px 30px;
	background-color: transparent;
	border: 1px solid #010101;
    border-radius: 15px;
}



.section-two .item{
	padding: 50px 0;
	position: relative;
}

.section-two .item:after{
	content: "";
	height: 2px;
	border-top: 2px dashed #ffd200;
	width: 50%;
	position: absolute;
	top: 36%;
	left: 75%;
	right: 0;
}
.section-two .item:last-child:after{
	display: none;
}

.section-two .item p{
	padding: 10px 0;
	line-height: 18px;
}
.section-two .item p span{
	display: block;
}
.section-two .item .image{
	height: 100px;
	width: 100px;
	border: 3px solid #ffd200;
	border-radius: 100%;
	margin: auto;
}

.section-two .item .image img{
	position: relative;
	margin: 30% 20%;
    width: 50%;
}

.main-section {
	width: 100%;
	padding: 55px 0;
}

.advantage-section {
	background-color: #f3f0e7;
}

.advantage .item{
	margin: 10px 0;
	padding: 0 20px;

}

.advantage .item .image{
	border-radius: 100%;
	overflow: hidden;
  	position: relative;
}


.advantage .item .image img {
  width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.5s;
}
.advantage .item .image img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.advantage .item h4 span{
	display: block;
}

.advantage .item h4 {
	font-weight: normal;
	margin: 20px auto;
}

.main-button {
	font-size: 26px;
	font-weight: 300;
	text-transform: uppercase;
	color: #000;
	border: none;
	border-radius: 10px;
	padding: 10px 30px;
	margin-top: 50px;
}

.red-button {
	background-color: #e11a27;
	color: #fff;
}




.price-table .column{
	max-width: 100%;
	padding: 0;
	margin: 0;
	transition: all 0.5s;
	position: relative;
}
.price-table .column:hover {
	transform: scale(1.1);
}

.price-table .column .item {
	border: 5px solid #ffd200;
	border-radius: 10px;
	padding: 0;
	overflow: hidden;
}

.price-table .left-column .item{
	margin-right: 20px;
}
.price-table .center-column .item{
	margin: 0 20px;
}
.price-table .right-column .item {
	margin-left: 20px;
}

.price-table .item .price-table-head {
	text-transform: uppercase;
	font-size: 25px;
	background-color: #ffd200;
	width: 100%;
	padding: 20px 0 15px;
}
.price-table .item .price-table-head span {
	font-size: 36px;
}

.price-table-body{

}


.price-table .item .options {
	padding: 20px;
	text-align: left;
	list-style-type: none;
}

.price-table .item .options li{
	padding-bottom: 10px;
}
.price-table .item .options li img{
	margin-right: 15px;
}

.price-table .item .price p{
	font-size: 60px;
	font-weight: 300;
	margin: 0;
}

.price-table .item .price-table-footer {
	font-size: 20px;
	background-color: #ffd200;
	width: 100%;
	padding: 10px 0;
	margin: 0;
}

.price-table .item .price-table-footer a  {
	color: #000;
	text-decoration: none;
}

/*

.price-table .item.left-column .options {
    margin-bottom: 50px;
}
.price-table .item.right-column .options {
    margin-bottom: 0;
    padding-bottom: 0;
}
*/


.bestseller {
    font-weight: bold;
    text-transform: uppercase;
    color: #e11a27;
    margin: 0 auto;
    
	border-bottom: 20px solid #ffd200;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	height: 0;
	width: 50%;
}


.price-table .center-column{
	margin-top: -20px;
}

.solutions-section{
    padding-bottom: 100px;    
}

.solutions-text {
    margin-bottom: 60px;
}





/*** Testimonials ***/
.testimonials-section{
	background: url("../img/banner2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}


.testimonials-section .testimonials {
    font-size: 18px;
}



.testimonials-section .testimonials .person img{
    padding: 30px 30px 30px 0;
}

.testimonials-section .testimonials .person .person-info{
    display: inline-block;
    vertical-align: middle;
}

.testimonials-section .testimonials .person .person-info .name{
    font-size: 30px;
}

.testimonials-section .testimonials a{
    color: #000;
    text-decoration: none;
    float: right;
    font-weight: 300;
    font-size: 16px;
    margin-top: 15px;
}

.testimonials-section .testimonials a img{
    margin-left: 10px;
}

.testimonials-button {
    background-color: transparent;
    border: 1px solid #000;
    margin-top: 20%;
}



/*** Terms Payments ***/


.terms-table .column{
	padding: 0;
	margin: 0;
}

.terms-table .column .item {
	border: none;
	border-radius: 10px;
	padding: 0;
	overflow: hidden;
	height: 100%;	
	background-color: green;
}

.terms-table .left-column .item{
	margin-right: 20px;
}
.terms-table .center-column .item{
	margin: 0 20px;
}
.terms-table .right-column .item {
	margin-left: 20px;
}

.terms-table .item .terms-table-head {
	text-transform: uppercase;
	font-size: 25px;
	background-color: #ffd200;
	width: 100%;
	padding: 10px 0 1px;
	text-align: center;
}
.terms-table .item .terms-table-head span {
	font-size: 36px;
}

.terms-table .terms-table-body {
	background-color: #f7f0e6;
	height: 100%;
	font-weight: bold;
	padding: 25px 35px;
}
.terms-table .terms-table-body .red-text{
	color: #e11a27;
	font-weight: 900;
}

.terms-table .terms-table-body p {
	margin: 0 0 10px;
}

.terms-table .terms-table-body ul li {
	line-height: 30px;
}

.terms-section .container button {
	margin: 75px auto;
}





/*** Footer section ***/
.footer-section {
	background-color: #ffd200;
}

.footer-section .footer div {
	padding: 0;
}

.footer-section .container .footer .item {
    width: 50%;
    border-top: 1px solid #000;
    padding-top: 25px;
    line-height: 30px;
}


.footer-section .footer div ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.footer-section .footer div ul a{
    color: #000;
    text-decoration: none;
}
.footer-section .footer div ul a:hover, .footer-section .footer div ul a:focus{
    font-weight: bold;
}

.footer-section .footer .social-connect .item{
	float: right;
}

.footer-section .footer .social-connect .item a{
    color: #000;
	margin-right: 5px;
}
.footer-section .footer .social-connect .item a i{
    font-size: 1.5em;
}


.copyright {
    margin-top: 50px;
    transform: translateY(150%);
}




@media only screen and (max-width: 576px) {
  
    
    .navbar .menu{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
         optional 
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
      }
    .navbar .menu button{
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
      }
    .navbar .menu a {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        margin-left: 15px;
      }

  .navbar .phone .phone-num{
        display: none;
    }
    #xs-phone-num{
         display: table;
        margin-top: 20px;
    }
    
  .navbar .menu, .navbar .phone {
        width: 50%;
    }  

	.section-two .item .image{
		height: 200px;
		width: 200px;
		border: 3px solid #ffd200;
		border-radius: 100%;
		margin: 0 auto;
	}

	.section-two .item .image img{
		position: relative;
		margin: 30% 20%;
	    width: 50%;
	}


    .section-two .item:after{
		display: none;
	}


	.advantage .item{
		margin-top: 30px;

	}


	.price-table, .terms-table {
		margin: 20px 20px;
	}

    
}


@media only screen and (max-width: 768px) {
   	.price-table .column {
		margin: 20px 0;
	}

	.price-table .column .item{
		margin: 0;
	}


	.terms-table .column {
		margin: 20px 0;
	}

	.terms-table .column .item{
		margin: 0;
	}
    
    .footer-section .container .footer  {
        transform: translateX(12%);
    }
    .footer-section .container .footer .item {
        width: 50%;
        margin-top: 30px;
        float: left;
        padding-top: 10px;
    }   
	.section-two .container .row .item:after {
		width: 56%;
		left: 72%;
	}
    .section-two .item:nth-child(2):after{
		display: none;
	}
}



@media only screen and (max-width: 992px) and (min-width: 768px) {
	.section-two .item:after{
		width: 20%;
		left: 90%;
	}
} 

@media only screen and (max-width: 1200px) and (min-width: 992px) {
	.section-two .item:after{
		width: 40%;
		left: 80%;
	}
} 