@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body{
	font-family: 'Lato', sans-serif;
}	

.navbar-toggler {
    border:none;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(35,31,32, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.navbar-nav{
	margin-left: 30px;
	padding: 0;
}

.navbar-nav .nav-item{
	background-color: #ffd200;
	width: 0;
}
.navbar-nav .nav-item a{
	text-decoration: none;
	color: #deb804;
}
.navbar-nav .active a{
	font-weight: bold;
}

.navbar-nav .nav-item a:hover, .navbar-nav .nav-item a:focus{
	color: #b49506;
}

.navbar-brand {
	margin: 0;
	padding: 0;
	float: left;
}

#logo {
	vertical-align: baseline;
}

.phone-num {
	padding: 5px 20px;
	background-color: #ffd200;
	border-radius: 8px;
}

.phone-num p{
	margin: 0;
	border-bottom: 1px dotted #000;
	font-size: 16px;
	line-height: 18px;
}

.login img {
	margin-left: 55px;
}


.main-banner {
	background: url("../img/main-banner.jpg");
	height: 547px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.main-banner-text {
	padding-top: 4%;
}

.main-banner-text h2{
	font-size: 50px;
	font-weight: 300;
	text-transform: uppercase;
	word-spacing: 10px;
	margin-bottom: 2%;
}

.section-header{
	font-size: 50px;
	font-weight: 300;
	text-transform: uppercase;
	word-spacing: 10px;
	margin-bottom: 2%;

}
.main-banner-text p{
	font-weight: bold;
	font-size: 24px;
}
.main-banner-text button{
	font-size: 26px;
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 8%;
	padding: 10px 30px;
	background-color: transparent;
	border: 1px solid #010101;
    border-radius: 15px;
}



.section-two .item{
	padding: 50px 0;
}
.section-two .item p{
	padding: 10px 0;
	line-height: 18px;
}
.section-two .item p span{
	display: block;
}
.section-two .item .image{
	height: 100px;
	width: 100px;
	border: 3px solid #ffd200;
	border-radius: 100%;
	margin: auto;
}

.section-two .item .image img{
	position: relative;
	margin: 30% 20%;
}

.main-section {
	width: 100%;
	padding: 55px 0;
}

.advantage-section {
	background-color: #f3f0e7;
}

.advantage .item{
	margin: auto 10px;
}

.advantage .item h4 span{
	display: block;
}

.advantage .item h4 {
	font-weight: normal;
	margin: 20px auto;
}

.main-button {
	font-size: 26px;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
	border: none;
	border-radius: 10px;
	padding: 10px 30px;
	margin-top: 50px;
}

.red-button {
	background-color: #e11a27;
}




.price-table .column{
	padding: 0;
	margin: 0;
}

.price-table .column .item {
	border: 5px solid #ffd200;
	border-radius: 10px;
	padding: 0;
	overflow: hidden;
}

.price-table .left-column .item{
	margin-right: 20px;
}
.price-table .center-column .item{
	margin: 0 20px;
}
.price-table .right-column .item {
	margin-left: 20px;
}

.price-table .item .price-table-head {
	text-transform: uppercase;
	font-size: 25px;
	background-color: #ffd200;
	width: 100%;
	padding: 20px 0 15px;
}
.price-table .item .price-table-head span {
	font-size: 36px;
}

.price-table-body{

}


.price-table .item .options {
	padding: 20px;
	text-align: left;
	list-style-type: none;
}

.price-table .item .options li{
	padding-bottom: 10px;
}
.price-table .item .options li img{
	margin-right: 15px;
}

.price-table .item .price p{
	font-size: 60px;
	font-weight: 300;
	margin: 0;
}

.price-table .item .price-table-footer {
	font-size: 20px;
	background-color: #ffd200;
	width: 100%;
	padding: 10px 0;
	margin: 0;
}

.price-table .item .price-table-footer a  {
	color: #000;
	text-decoration: none;
}

/*

.price-table .item.left-column .options {
    margin-bottom: 50px;
}
.price-table .item.right-column .options {
    margin-bottom: 0;
    padding-bottom: 0;
}
*/


.bestseller {
    font-weight: bold;
    text-transform: uppercase;
    color: #e11a27;
    margin: 0 auto;
    
	border-bottom: 20px solid #ffd200;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	height: 0;
	width: 50%;
}


.price-table .center-column{
	margin-top: -20px;
}

.solutions-section{
    padding-bottom: 100px;    
}

.solutions-text {
    margin-bottom: 60px;
}





/*** Testimonials ***/
.testimonials-section{
	background: url("../img/banner2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}


.testimonials-section .testimonials {
    font-size: 18px;
}



.testimonials-section .testimonials .person img{
    padding: 30px 30px 30px 0;
}

.testimonials-section .testimonials .person .person-info{
    display: inline-block;
    vertical-align: middle;
}

.testimonials-section .testimonials .person .person-info .name{
    font-size: 30px;
}

.testimonials-section .testimonials a{
    color: #000;
    text-decoration: none;
    float: right;
    font-weight: 300;
    font-size: 16px;
    margin-top: 15px;
}

.testimonials-section .testimonials a img{
    margin-left: 10px;
}

.testimonials-button {
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    margin-top: 20%;
}



/*** Terms Payments ***/


.terms-table .column{
	padding: 0;
	margin: 0;
}

.terms-table .column .item {
	border: none;
	border-radius: 10px;
	padding: 0;
	overflow: hidden;
	height: 100%;	
	background-color: green;
}

.terms-table .left-column .item{
	margin-right: 20px;
}
.terms-table .center-column .item{
	margin: 0 20px;
}
.terms-table .right-column .item {
	margin-left: 20px;
}

.terms-table .item .terms-table-head {
	text-transform: uppercase;
	font-size: 25px;
	background-color: #ffd200;
	width: 100%;
	padding: 10px 0 1px;
	text-align: center;
}
.terms-table .item .terms-table-head span {
	font-size: 36px;
}

.terms-table .terms-table-body {
	background-color: #f7f0e6;
	height: 100%;
	font-weight: bold;
	padding: 25px 35px;
}
.terms-table .terms-table-body .red-text{
	color: #e11a27;
	font-weight: 900;
}

.terms-table .terms-table-body p {
	margin: 0 0 10px;
}

.terms-table .terms-table-body ul li {
	line-height: 30px;
}

.terms-section .container button {
	margin: 75px auto;
}





/*** Footer section ***/
.footer-section {
	background-color: #ffd200;
}

.footer-section .footer div{
	background-color: red;
	padding: 0;
}


.footer-section .footer div ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.footer-section .footer .social-connect ul{
	float: right;
}


 






@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /*[class*="col-"] {
        width: 100%;
    }*/


	.price-table .column {
		margin: 20px 0;
	}

	.price-table .column .item{
		margin: 0;
	}


	.terms-table .column {
		margin: 20px 0;
	}

	.terms-table .column .item{
		margin: 0;
	}
}